data/countries/HR/static/municipalities_web.geojson -text
data/countries/SI/static/municipalities_web.geojson -text
data/countries/BA/static/territorial_zones_web.geojson -text
data/static/municipalities_web.geojson -text
data/countries/MK/static/municipalities_web.geojson -text
data/countries/GR/static/municipalities_web.geojson -text
data/countries/RS/static/municipalities_web.geojson -text
